<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>OneApp - The only app you'll ever need</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="container-fluid">
        <br/>
        <row>
            {% for app in applications %}

            <div class="col-xs-4">
                <div class="thumbnail">
                  <a href="{{app.url}}"><img src="icons/{{app.key}}.png"></a>
                  <div class="caption">
                     <a href="{{app.url}}"><p style="text-align:center">{{ app.name }}</p></a>
                  </div>
                </div>
            </div>

            {% endfor %}
        </row>
    </div>
</body>
</html>